<?xml version="1.0"?>
<configuration>
  <!-- 
      NB: need to maintain connection strings in <connectionStrings> & <appSettings> until code migrated to 2.0 model
    -->
  <connectionStrings>
  <!-- 
    <add name="LogisticsConnectionString" connectionString="Data Source=SPRINT_DATA;Initial Catalog=Logistics;Persist Security Info=True;User ID=LogisticsUser;Password=rooftop1" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <appSettings>

    <!-- 
    <add key="ConnectionString" value="data source=SPRINT_DATA;initial catalog=Logistics;UID=LogisticsUser;PWD=rooftop1" />
    -->

    <!-- 
    CustomerKey is required for (a) default.aspx (pre-logon decoration) (b) WebForm


    -->


    <!-- 

    W E B   F O R M

    CustomerKey 16 = DEMO
    GenericUserKey value=3481
    -->
    <add key="CustomerKey" value="16"/>
    <add key="GenericUserKey" value="3481"/>


    <!-- 
      G E N E R A L

    <add key="WebFormLogoLocation" value="http://www.smartbox.com/img/logo.jpg" />
    -->
    <add key="prod_image_folder" value="C:/Source/images/jpgs/" />
    <add key="prod_thumb_folder" value="C:/Source/images/thumbs/" />
    <add key="prod_pdf_folder" value="C:/Source/images/pdfs/" />
    <add key="Virtual_JPG_URL" value="../prod_images/jpgs/" />
    <add key="Virtual_PDF_URL" value="../prod_images/pdfs/" />
    <add key="Virtual_Thumb_URL" value="../prod_images/thumbs/" />

    <add key="WebFormLogoLocation" value="http://www.sprintexpress.co.uk/info/demo2007b/logo.jpg" />
    <add key="WebFormHomePageText" value="Welcome to the Public Campaign Online Store. Browse available products and add them to your basket." />
    <add key="WebFormHelpPageText" value="If you have any difficulty using this online web form to place an order please telephone Sprint International Customer Services on &lt;b&gt;020 8751 1111&lt;/b&gt;." />
	<add key="uk.co.postcodeanywhere.services.lookup" value="http://services.postcodeanywhere.co.uk/uk/lookup.asmx"/>

  </appSettings>

	<system.web>

	<!-- 
        	<customErrors mode="Off" />
        	<compilation debug="true" />

      		<customErrors mode="RemoteOnly" defaultRedirect="error.aspx"/>
        -->

        	<customErrors mode="Off" />
        	<compilation debug="true" />

    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 

        -->
		<authentication mode="Windows"/>
	<!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
